body{
    background-image: url(imagenes/img.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    background-position: center;
    height: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}

div p {
    font-size: 20px;
}
#root{
    background-position: center;
    width: 10%;
    height:10%;
    background: white;
    border: 2px solid black;
    margin: auto 45%;
    padding: 2%;
    font-size: 20px;
}

#rootDoble{
    background-position: center;
    width: 10%;
    height:10%;
    background: white;
    border: 2px solid black;
    margin:auto 45%;
    padding: 2%;
    font-size: 20px;
}